addict
aiohttp
aiosignal
alembic
async-timeout
attrs
blinker
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
databricks-cli
datasets
dill
docker
einops
entrypoints
filelock
Flask
fonttools
frozenlist
fsspec
gitdb
GitPython
greenlet
gunicorn
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
Mako
Markdown
MarkupSafe
matplotlib
mlflow==2.9.1
mmcv==1.3.8
mmsegmentation==0.14.1
mpmath
multidict
multiprocess
networkx
ninja
numpy
oauthlib
opencv-python
packaging
pandas
Pillow
platformdirs
prettytable
protobuf
pyarrow
pyarrow-hotfix
PyJWT
pyparsing
python-dateutil
python-hostlist
pytz
PyYAML
querystring-parser
regex
requests
safetensors
scikit-learn
scipy
six
smmap
SQLAlchemy
sqlparse
sympy
tabulate
threadpoolctl
timm==0.4.12
tokenizers
tomli
tqdm
transformers==4.35.2
triton
typing_extensions
tzdata
urllib3
wcwidth
websocket-client
Werkzeug
xxhash
yapf
yarl
zipp
causal-conv1d==1.1.0
